<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin create classes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">QUB Coin</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Enroll</a></li>
                <li><a href="#">Coins</a></li>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logout </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-header">
    <h1>Create a Class</h1>
</div>

<form class="form-horizontal" method="POST" action="/contact">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-xs-4">
            <input type="name" class="form-control" id="inputName" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputLocation" class="col-sm-2 control-label">Location</label>
        <div class="col-xs-4">
            <input type="location" class="form-control" id="inputLocation" placeholder="Location">
        </div>
    </div>

    <div class="form-group">
        <label for="inputTime" class="col-sm-2 control-label">Start Time</label>
        <div class="col-xs-4">
            <input type="time" class="form-control" id="inputTime" placeholder="Time">
        </div>

    </div>
    <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Date</label>
        <div class="col-xs-4">
            <input type="date" class="form-control" id="inputDate" placeholder="Date">
        </div>
    </div>

    <form class="form-group" role="form">
        <label for="inputInstructor" class="col-sm-2 control-label">Select Instructor</label>
        <div class="col-xs-4 ">
            <select class="form-control"><
                <option>Select Instructor</option>
                <% classes.classesCreatedTable.forEach(function(item){ %>
                <option><%= item.instructor %></option>
                <% }); %>
            </select>
        </div>
    </form>

    <form class="form-group" role="form">
        <label for="inputInstructor" class="col-sm-2 control-label">Select Class Type</label>
        <div class="col-xs-4 ">
            <select class="form-control"><
                <option>Select Class Type</option>
                <option>Lecture</option>
                <option>Practical</option>
            </select>
        </div>
    </form>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="create" class="btn btn-default">Create</button>
        </div>
    </div>


</form>
</body>
</html>