<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Brand and toggle grouped for better mobile display -->
        <div class="navbar-header">


            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">QUB Coin</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="/studentViewClass">Classes</a></li>


                <li><a href="studentSendPoints">Coins</a></li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>


<img src="images/qublogo.png" height="200" style="max-width: 300px">


<div class="page-header">
    <h1>Student Wallet</h1>
</div>




<a type="button" class="btn btn-primary" href="studentDisplayClasses">Display Classes</a>
<a type="button" class="btn btn-primary" href="studentLogAttendance">Log Attendance</a>


<h3> Current Balance: <span class="label label-default"></span></h3>

<h3>Transaction History <span class="label label-default"></span></h3>

<table class="table table-striped" dir="ltr" width="500" border="1"
       summary="purpose/structure for speech output">


    <colgroup id="colgroup" class="colgroup" align="center"
              valign="middle" title="title" width="30%"
              span="2"/>
    <thead>
    <thead class="table table-striped">
    <tr>
        <th scope="col">Balance History (General Coins)</th>
        <th scope="col">To</th>
        <th scope="col">From</th>
        <th scope="col">Time Stamp</th>


    <tfoot>
    <tr>

        <!--loop through table and populate JSON data -->
        <% classes.transactionHistoryTable.forEach(function (item) { %>

        <td><%= item.balancehistory %></td>
        <td><%= item.to %></td>
        <td><%= item.from %></td>
        <td><%= item.timestamp %></td>


    </tr>

    <% } ); %>

    </tfoot>


    </tr>
    </thead>


    <tbody>


    </tbody>
</table>


</body>


<!-- You can create scalable multi-column layouts with up to 12 columns. Scaling is focused on screens < 768px, >= 768px, >=992px and >1200px -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<div class="container">


    <!-- The table class adds nice spacing and the other classes add additional style -->
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <td colspan="5">Personal Coins</td>
        </tr>
        </thead>
        <tbody>


        <!-- adjust the width of table columns -->
        <th class="col-md--0">
        </td>

        <!-- text alignment like text-center or text-right -->
        <th class="text-center">Balance History</th>
        <th class="text-center">To
        </td>
        <th class="text-center">From
        </td>
        <th class="text-center">TimeStamp
        </td>


        <tr>
            <td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>




